<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Mirasvit_CatalogLabel::cataloglabel" title="Product Labels" module="Mirasvit_CatalogLabel" resource="Mirasvit_CatalogLabel::cataloglabel" sortOrder="1000" parent="Magento_CatalogRule::promo" action="cataloglabel/label" />
    </menu>
</config>